apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: apibindings.apis.kcp.dev
spec:
  group: apis.kcp.dev
  names:
    categories:
    - kcp
    kind: APIBinding
    listKind: APIBindingList
    plural: apibindings
    singular: apibinding
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "APIBinding enables a set of resources and their behaviour through
          an external service provider in this workspace. \n The service provider
          uses an APIExport to expose the API."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec holds the desired state.
            properties:
              reference:
                description: reference uniquely identifies an API to bind to.
                oneOf:
                - required:
                  - workspace
                - required:
                  - export
                properties:
                  export:
                    description: export is a reference to an exports.kcp.dev/v1alpha1
                      Export object uniquely identifying the APIExport to bind to.
                    properties:
                      name:
                        description: name is the name of the referenced object in
                          the given workspace. kubebuilder:validation:MinLength=1
                        type: string
                      workspace:
                        description: "workspace is the workspace the referenced object
                          is in. \n If workspace is empty, this is a reference to
                          an object in the same workspace."
                        type: string
                    required:
                    - name
                    type: object
                  workspace:
                    description: workspace is a reference to an APIExport in the same
                      organization. The creator of the APIBinding needs to have access
                      to the APIExport with the verb `bind` in order to bind to it.
                    properties:
                      exportName:
                        description: Name of the APIExport that describes the API.
                        type: string
                      name:
                        description: name is a workspace name in the same organization.
                        type: string
                    required:
                    - exportName
                    - name
                    type: object
                type: object
            type: object
          status:
            description: Status communicates the observed state.
            properties:
              boundExport:
                description: "boundExport records the export this binding is bound
                  to currently. It can differ from the export that was specified in
                  the spec while rebinding to a different APIExport. \n This field
                  is what gives the APIExport visibility into the objects in this
                  workspace."
                properties:
                  export:
                    description: export is a reference to an exports.kcp.dev/v1alpha1
                      Export object uniquely identifying the APIExport to bind to.
                    properties:
                      name:
                        description: name is the name of the referenced object in
                          the given workspace. kubebuilder:validation:MinLength=1
                        type: string
                      workspace:
                        description: "workspace is the workspace the referenced object
                          is in. \n If workspace is empty, this is a reference to
                          an object in the same workspace."
                        type: string
                    required:
                    - name
                    type: object
                  workspace:
                    description: workspace is a reference to an APIExport in the same
                      organization. The creator of the APIBinding needs to have access
                      to the APIExport with the verb `bind` in order to bind to it.
                    properties:
                      exportName:
                        description: Name of the APIExport that describes the API.
                        type: string
                      name:
                        description: name is a workspace name in the same organization.
                        type: string
                    required:
                    - exportName
                    - name
                    type: object
                type: object
              boundResources:
                description: boundResources records the state of bound APIs.
                items:
                  description: BoundAPIResource describes a bound GroupVersionResource
                    through an APIResourceSchema of an APIExport..
                  properties:
                    group:
                      description: "group is the group of the bound API. \n kubebuilder:validation:MinLength=1"
                      type: string
                    resource:
                      description: "resource is the resource of the bound API. \n
                        kubebuilder:validation:MinLength=1"
                      type: string
                    schema:
                      description: Schema references the APIResourceSchema that is
                        bound to this API.
                      properties:
                        UID:
                          description: UID is the UID of the APIResourceSchema that
                            is bound to this API.
                          minLength: 1
                          type: string
                        name:
                          description: name is the bound APIResourceSchema name.
                          minLength: 1
                          type: string
                      required:
                      - UID
                      - name
                      type: object
                    storageVersions:
                      description: "storageVersions lists all versions of a resource
                        that were ever persisted. Tracking these versions allows a
                        migration path for stored versions in etcd. The field is mutable
                        so a migration controller can finish a migration to another
                        version (ensuring no old objects are left in storage), and
                        then remove the rest of the versions from this list. \n Versions
                        may not be removed while they exist in this list."
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: set
                  required:
                  - group
                  - resource
                  - schema
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - group
                - resource
                x-kubernetes-list-type: map
              conditions:
                description: conditions is a list of conditions that apply to the
                  APIBinding.
                items:
                  description: Condition defines an observation of a object operational
                    state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              initializers:
                description: initializers tracks the binding process of the APIBinding.
                  The APIBinding cannot be moved to Bound until the initializers have
                  finished their work. Initializers are added before transition to
                  Initializing phase and verified through admission to be complete
                  when initialization starts.
                items:
                  type: string
                type: array
              phase:
                description: 'phase is the current phase of the APIBinding: - "":
                  the APIBinding has just been created, waiting to be bound. - Binding:
                  the APIBinding is being bound. - Bound: the APIBinding is bound
                  and the referenced APIs are available in the workspace.'
                enum:
                - ""
                - Binding
                - Bound
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
