apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    api-approved.kubernetes.io: https://github.com/kcp-dev/kubernetes/pull/4
    internal.kcp.io/validate-name: path-segment
  creationTimestamp: null
  name: roles.rbac.authorization.k8s.io
spec:
  conversion:
    strategy: None
  group: rbac.authorization.k8s.io
  names:
    kind: Role
    listKind: RoleList
    plural: roles
    singular: role
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Role is a namespaced, logical grouping of PolicyRules that can
          be referenced as a unit by a RoleBinding.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          rules:
            description: Rules holds all the PolicyRules for this Role
            items:
              description: PolicyRule holds information that describes a policy rule,
                but does not contain information about who the rule applies to or
                which namespace the rule applies to.
              properties:
                apiGroups:
                  description: APIGroups is the name of the APIGroup that contains
                    the resources.  If multiple API groups are specified, any action
                    requested against one of the enumerated resources in any API group
                    will be allowed.
                  items:
                    type: string
                  type: array
                nonResourceURLs:
                  description: NonResourceURLs is a set of partial urls that a user
                    should have access to.  *s are allowed, but only as the full,
                    final step in the path Since non-resource URLs are not namespaced,
                    this field is only applicable for ClusterRoles referenced from
                    a ClusterRoleBinding. Rules can either apply to API resources
                    (such as "pods" or "secrets") or non-resource URL paths (such
                    as "/api"),  but not both.
                  items:
                    type: string
                  type: array
                resourceNames:
                  description: ResourceNames is an optional white list of names that
                    the rule applies to.  An empty set means that everything is allowed.
                  items:
                    type: string
                  type: array
                resources:
                  description: Resources is a list of resources this rule applies
                    to. '*' represents all resources.
                  items:
                    type: string
                  type: array
                verbs:
                  description: Verbs is a list of Verbs that apply to ALL the ResourceKinds
                    contained in this rule. '*' represents all verbs.
                  items:
                    type: string
                  type: array
              required:
              - verbs
              type: object
            type: array
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions:
  - v1
