apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: locations.scheduling.kcp.io
spec:
  group: scheduling.kcp.io
  names:
    categories:
    - kcp
    kind: Location
    listKind: LocationList
    plural: locations
    singular: location
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Type of the workspace
      jsonPath: .spec.resource.resource
      name: Resource
      type: string
    - description: Available instances in this location
      jsonPath: .status.availableInstances
      name: Available
      type: string
    - description: Instances in this location
      jsonPath: .status.instances
      name: Instances
      type: string
    - description: The common labels of this location
      jsonPath: .metadata.annotations['scheduling\.kcp\.dev/labels']
      name: Labels
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "Location represents a set of instances of a scheduling resource
          type acting a target of scheduling. \n The location is chosen by the user
          (in the future) through a Placement object, while the instance is chosen
          by the scheduler depending on considerations like load or available resources,
          or further node selectors specified by the user."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LocationSpec holds the desired state of the Location.
            properties:
              availableSelectorLabels:
                description: availableSelectorLabels is a list of labels that can
                  be used to select an instance at this location in a placement object.
                items:
                  description: AvailableSelectorLabel specifies a label with key name
                    and possible values.
                  properties:
                    description:
                      description: description is a human readable description of
                        the label.
                      type: string
                    key:
                      description: key is the name of the label.
                      maxLength: 255
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9](\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*)?/)?([a-zA-Z0-9][-a-zA-Z0-9_.]{0,61})?[a-zA-Z0-9]$
                      type: string
                    values:
                      description: values are the possible values for this labels.
                      items:
                        description: LabelValue specifies a value of a label.
                        maxLength: 63
                        pattern: ^(|([a-z0-9]([-a-z0-9]*[a-z0-9](\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*)?/)?([a-zA-Z0-9][-a-zA-Z0-9_.]{0,61})?[a-zA-Z0-9])$
                        type: string
                      minItems: 1
                      type: array
                      x-kubernetes-list-type: set
                  required:
                  - key
                  - values
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - key
                x-kubernetes-list-type: map
              description:
                description: description is a human-readable description of the location.
                type: string
              instanceSelector:
                default: {}
                description: "instanceSelector chooses the instances that will be
                  part of this location. \n Note that these labels are not what is
                  shown in the Location objects to the user. Depending on context,
                  both will match or won't match."
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              resource:
                description: resource is the group-version-resource of the instances
                  that are subject to this location.
                properties:
                  group:
                    description: group is the name of an API group.
                    enum:
                    - workload.kcp.io
                    pattern: ^(|[a-z0-9]([-a-z0-9]*[a-z0-9](\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*)?)$
                    type: string
                  resource:
                    description: resource is the name of the resource.
                    enum:
                    - synctargets
                    pattern: ^[a-z][-a-z0-9]*[a-z0-9]$
                    type: string
                  version:
                    description: version is the version of the API.
                    enum:
                    - v1alpha1
                    pattern: ^[a-z][-a-z0-9]*[a-z0-9]$
                    type: string
                required:
                - resource
                - version
                type: object
            required:
            - resource
            type: object
          status:
            description: LocationStatus defines the observed state of Location.
            properties:
              availableInstances:
                description: available is the number of actual instances that are
                  available at this location.
                format: int32
                type: integer
              instances:
                description: instances is the number of actual instances at this location.
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
