apiVersion: apis.kcp.dev/v1alpha1
kind: APIResourceSchema
metadata:
  creationTimestamp: null
  name: v221216-7a674974c.shards.core.kcp.dev
spec:
  group: core.kcp.dev
  names:
    categories:
    - kcp
    kind: Shard
    listKind: ShardList
    plural: shards
    singular: shard
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: Type URL to directly connect to the shard
      jsonPath: .spec.baseURL
      name: URL
      type: string
    - description: The URL exposed in workspaces created on that shard
      jsonPath: .spec.externalURL
      name: External URL
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      description: Shard describes a Shard (== KCP instance) on which a number of
        workspaces will live
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ShardSpec holds the desired state of the Shard.
          properties:
            baseURL:
              description: baseURL is the address of the KCP shard for direct connections,
                e.g. by some front-proxy doing the fan-out to the shards.
              format: uri
              minLength: 1
              type: string
            externalURL:
              description: "externalURL is the externally visible address presented
                to users in Workspace URLs. Changing this will break all existing
                workspaces on that shard, i.e. existing kubeconfigs of clients will
                be invalid. Hence, when changing this value, the old URL used by clients
                must keep working. \n The external address will not be unique if a
                front-proxy does a fan-out to shards, but all workspace client will
                talk to the front-proxy. In that case, put the address of the front-proxy
                here. \n Note that movement of shards is only possible (in the future)
                between shards that share a common external URL. \n This will be defaulted
                to the value of the baseURL."
              format: uri
              minLength: 1
              type: string
            virtualWorkspaceURL:
              description: "virtualWorkspaceURL is the address of the virtual workspace
                server associated with this shard. It can be a direct address, an
                address of a front-proxy or even an address of an LB. As of today
                this address is assigned to APIExports. \n This will be defaulted
                to the value of the baseURL."
              format: uri
              minLength: 1
              type: string
          required:
          - baseURL
          type: object
        status:
          description: ShardStatus communicates the observed state of the Shard.
          properties:
            capacity:
              additionalProperties:
                anyOf:
                - type: integer
                - type: string
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              description: Set of integer resources that workspaces can be scheduled
                into
              type: object
            conditions:
              description: Current processing state of the Shard.
              items:
                description: Condition defines an observation of a object operational
                  state.
                properties:
                  lastTransitionTime:
                    description: Last time the condition transitioned from one status
                      to another. This should be when the underlying condition changed.
                      If that is not known, then using the time when the API field
                      changed is acceptable.
                    format: date-time
                    type: string
                  message:
                    description: A human readable message indicating details about
                      the transition. This field may be empty.
                    type: string
                  reason:
                    description: The reason for the condition's last transition in
                      CamelCase. The specific API may choose whether or not this field
                      is considered a guaranteed API. This field may not be empty.
                    type: string
                  severity:
                    description: Severity provides an explicit classification of Reason
                      code, so the users or machines can immediately understand the
                      current situation and act accordingly. The Severity field MUST
                      be set only when Status=False.
                    type: string
                  status:
                    description: Status of the condition, one of True, False, Unknown.
                    type: string
                  type:
                    description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                      Many .condition.type values are consistent across resources
                      like Available, but because arbitrary conditions can be useful
                      (see .node.status.conditions), the ability to deconflict is
                      important.
                    type: string
                required:
                - lastTransitionTime
                - status
                - type
                type: object
              type: array
          type: object
      type: object
    served: true
    storage: true
    subresources:
      status: {}
