apiVersion: v1
kind: Config
clusters:
- name: default-cluster
  cluster:
    certificate-authority-data: {{.CAData}}
    server: {{.ServerURL}}
contexts:
- name: default-context
  context:
    cluster: default-cluster
    namespace: {{.KCPNamespace}}
    user: default-user
current-context: default-context
users:
- name: default-user
  user:
    token: {{.Token}}
