apiVersion: tenancy.kcp.dev/v1alpha1
kind: WorkspaceType
metadata:
  name: organization
  annotations:
    bootstrap.kcp.dev/battery: cluster-workspace-types
spec:
  extend:
    with:
    - name: universal
      path: root
  defaultChildWorkspaceType:
    name: universal
    path: root
  limitAllowedChildren:
    types:
    - name: universal
      path: root
  limitAllowedParents:
    types:
    - name: root
      path: root
