Jinja2==3.1.2
Markdown==3.3.7
MarkupSafe==2.1.2
mike==1.1.2
mkdocs==1.4.2
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-macros-plugin==0.7.0
mkdocs-material==9.1.0
mkdocs-material-extensions==1.1.1
mkdocs-static-i18n==0.53
Pygments==2.14.0
pymdown-extensions==9.9.2
