name: CI

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main
      - 'release-*'
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - ".github/ISSUE_TEMPLATE/*"
      - ".goreleaser.yaml"

# NOTE!!!
#
# If you add a job here that is a REQUIRED status check in GitHub, you MUST add a job with the same name to ci-docs-only.yaml
#
# NOTE!!!

env:
  # etcd uses fsync by default, disable it for running on github actions to avoid disk contention
  # xref: https://github.com/kcp-dev/kcp/pull/435/commits/064a517747d69c2cd8f7f8b4a595ad909e595c89
  UNSAFE_E2E_HACK_DISABLE_ETCD_FSYNC: true

jobs:
  e2e-shared-server:
    name: e2e-shared-server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: v1.18
      - run: make build

      # Install kind with a local registry
      - uses: container-tools/kind-action@v1
        name: Kubernetes KinD Cluster w/local registry

      - run: |-
          go install github.com/google/ko@latest

      - run: |-
          LOG_DIR=/tmp/e2e/shared-server/artifacts ARTIFACT_DIR=/tmp/e2e COUNT=2 E2E_PARALLELISM=2 \
          make test-e2e-shared

      - uses: cytopia/upload-artifact-retry-action@v0.1.2
        if: ${{ always() }}
        with:
          name: e2e-shared-server
          path: /tmp/e2e/**/artifacts/

  e2e-sharded:
    name: e2e-sharded
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: v1.18
    - run: make build

    # Install kind with a local registry
    - uses: container-tools/kind-action@v1
      name: Kubernetes KinD Cluster w/local registry

    - run: |-
        go install github.com/google/ko@latest

    - run: |-
        LOG_DIR=/tmp/e2e/sharded/artifacts ARTIFACT_DIR=/tmp/e2e COUNT=2 E2E_PARALLELISM=2 \
        make test-e2e-sharded

    - uses: cytopia/upload-artifact-retry-action@v0.1.2
      if: ${{ always() }}
      with:
        name: e2e-sharded
        path: /tmp/e2e/**/artifacts/

  e2e-tests-ppc64le:
    name: e2e-tests-ppc64le
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: uraimo/run-on-arch-action@v2.2.0
        name: E2E KCP tests
        id: build-ppc
        with:
          arch: ppc64le
          distro: ubuntu20.04
          
          dockerRunArgs: |
            --volume "/var/run/docker.sock:/var/run/docker.sock"
          
          run: |
            apt-get update -y
            apt-get install wget tar gcc git curl runc iptables libdevmapper1.02.1 make jq -y
            
            #Install docker
            apt-get install apt-transport-https ca-certificates software-properties-common -y
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
            add-apt-repository "deb [arch=ppc64el] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
            apt-get update -y
            apt-get install docker-ce -y
            service docker start
            
            #Install Go, Kind, kubectl
            cd /root/ && wget https://go.dev/dl/go1.18.linux-ppc64le.tar.gz
            tar -C /usr/local -xzf go1.18.linux-ppc64le.tar.gz
            export PATH=$PATH:/usr/local/go/bin
            go install github.com/google/ko@latest
            go install sigs.k8s.io/kind@v0.14.0
            export PATH=$PATH:$(go env GOPATH)/bin 
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/ppc64le/kubectl"
            chmod +x kubectl
            export PATH=$PATH:/root/
            
            git clone https://github.com/kcp-dev/kcp.git && cd kcp
            export PATH=$PWD/bin:$PATH
            LOG_DIR=/tmp/e2e/shared-server/artifacts ARTIFACT_DIR=/tmp/e2e  \
            OS=linux ARCH=ppc64le E2E_PARALLELISM=4 make test-e2e -e TEST_ARGS="-timeout 50m"