name: Documentation

on:
  # So we can trigger manually if needed
  workflow_dispatch:
  # To confirm any changes to docs build successfully, without deploying them
  pull_request:
  # Pushes to branches do the full build + deployment
  push:
    branches:
      - main
      - "release-*"
    paths:
      - "cmd/**"
      - "docs/**"
      - "pkg/**"
      - ".github/workflows/docs-gen-and-push.yaml"

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  generate-and-push:
    name: Generate and push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2

      - run: git fetch origin gh-pages
      - run: git fetch origin '+refs/tags/v*:refs/tags/v*' --no-tags

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # tag=v6.2.0
        with:
          go-version: v1.24.11
          cache: true

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #tag=v6.2.0
        with:
          python-version: "3.10"
          cache: "pip"

      # mike does not support giving CLI flags for mkdocs, but we also do not
      # want to permanently enable strict mode, so here we enable it just for this
      # task
      - run: |
          echo "strict: true" >> docs/mkdocs.yml

      - run: make generate-cli-docs generate-api-docs deploy-docs
